 <h3 style="color:aqua" >All the Complaints</h3>
 <table class="table table-striped">
      <thead>
        <tr>
              <th>Crops</th>  
              <th>Tips</th>
               
                 <th></th>
        </tr>    
      </thead>
      <tbody>
{{#each list}}
      <tr>
          <td>{{this.Crop}}</td>  
          <td>{{this.Tips}}</td> 
        
<td> 
      <a href=""></a>
      <a href=""></a>
</td>            
      </tr> 
{{/each}}
      </tbody>
</table>